{% extends 'BackEnd.html.twig' %}

{% block body %}
  <div class="col-md-6">
      <h2>Last 10 Articles</h2>
      <hr>
    <form class="post-list" action="{{ path('BlogArticles_admin_delete') }}" method='post'>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>title</th>
                <th>slug</th>
                <th>is active</th>
                <th>image</th>
                <th>created at</th>
            </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
            {% for item in articles %}
                <tr>
                    <td>
                        {% if(item.image) %}
                            <img class="img-circle" src="{{ asset(['uploads/articles/', item.image]|join ) }}" width="62" height="62">
                        {% else %}
                            <img class="img-circle" src="{{ asset('uploads/default.png') }}" width="62" height="62">
                        {% endif %}
                    </td>
                    <td><a href="{{ path('BlogArticles_admin_edit', { 'id': item.id }) }}">{{ item.title }}</a></td>
                    <td>{{ item.slug }}</td>
                    <td>
                        {% if(item.isActive) %}
                            <span class="label label-success">active</span>
                        {% else %}
                            <span class="label label-danger">deactive</span>
                        {% endif %}
                    </td>
                    <td>{{ item.createdAt|date('Y-m-d H:m') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    </form>
  </div>



    <div class="col-md-6">
        <h2>Last 10 Comments</h2>
        <hr>
        <form class="post-list" action="{{ path('BlogArticles_admin_delete') }}" method='post'>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>comment</th>
                    <th>is active</th>
                    <th>created at</th>
                </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                {% for item in comments %}
                    <tr>
                        <td>
                           <a href="{{ path('BlogComments_admin_edit' , {'id':item.id}) }}"> {{ item.name }} </a>
                        </td>
                        <td>{{ item.email }}</td>
                        <td>
                           {{ item.comment| truncate(10 , true) }}
                        </td>
                        <td>
                            {% if(item.isActive) %}
                                <span class="label label-success">active</span>
                            {% else %}
                                <span class="label label-success">deactive</span>
                            {% endif %}
                        </td>
                        <td>{{ item.createdAt|date('Y-m-d H:m') }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
        </form>
    </div>

{% endblock %}