{% extends 'BackEnd.html.twig' %}

{% block title %}Articles{% endblock %}
{% block h1 %}Articles{% endblock %}

{% form_theme form _self %}
{% block _article_categories_widget %}
    {% for child in form %}
        <div class="checkbox" style="margin-left: 100px">
             {{ form_widget(child) }}
             {{ form_label(child) }}
        </div>
    {% endfor %}
{% endblock %}


{% block body %}

    {% if(article.slug is defined  and article.slug) %}
        <p><a href="{{ path('BlogArticles_view' , {'slug':article.slug}) }}" class="btn btn-info" target="_blank">Go to article front page</a></p>
    {% endif %}

    {{ form_start(form) }}

    {%  if(form_errors(form)) %}
      <div class="alert alert-danger" role="alert">{{ form_errors(form) }}</div>
    {% endif %}


    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title , {'attr': {'class': 'form-control'}} ) }}
    </div>

    <div class="form-group">
        {{ form_label(form.content) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content , {'attr': {'class': 'form-control'}} ) }}
    </div>

    {{ form_errors(form.categories) }}
    {{ form_row(form.categories) }}


    <div class="form-group">
        {{ form_label(form.file) }}
        {{ form_errors(form.file) }}

        {% if(article.image is defined  and article.image) %}
            <div class="media-left media-middle">
                <img class="media-object img-rounded" src="{{ asset(['uploads/articles/', article.image]|join ) }}" width="62" height="62">
            </div>
        {% endif %}

        {{ form_widget(form.file , {'attr': {'class': 'form-control' }}) }}
    </div>

    <div class="checkbox">
        {{ form_errors(form.is_active) }}
        <label>
            {{ form_widget  (form.is_active  ) }} Is published
        </label>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

    {{ form_end(form) }}
{% endblock %}